body{
    text-align:center;
    box-sizing:border-box;
}
#meme-form{ 
    width:100%;
    font-size:1.2rem;
    margin-top:1rem;
    border:1px solid black;
    border-radius:0.5rem;
    background-color:lightgray;
}

#meme-form label{
    display:block;
    margin-top:1rem;
    margin-bottom:1rem;
}
#meme-form input{
    width:70%;

}

button{
    margin-bottom:1em;
    height:2.5rem;
    width:5rem;
    border-radius:0.5rem;
    cursor: pointer;
}

button:hover{
    background-color:lightskyblue;
}

#meme-list{
    display:flex;
    align-items:flex-start;
    flex-wrap:wrap;
}

#meme-list img{
    width:300px;
    border-radius:0.7rem;
    border:3px solid black;
}

.text-top{
    position:absolute;
    top:5%;
    left:50%;
    transform:translateX(-50%);
    word-wrap: break-word;
}

.text-bottom{
    position:absolute;
    bottom:10%;
    left:50%;
    transform:translateX(-50%);
    word-wrap: break-word;
}

.remove-btn{
    position:absolute;
    height:98.5%;
    width:300px;
    
    left:50%;
    top:50%;
    animation: change 0.5s both;
    
    transform:translate(-50%,-50%);
    font-size:5rem;
    
    cursor: pointer;

    border-radius:0.7rem;
    display:flex;
    align-items:center;
    justify-content: center;
}

@keyframes change{
    100%{
        background-color:black;
        color:white;
        opacity:0.5;
    }
}

#meme-list .container{
    margin:1.2rem;
    position:relative;
    text-align:center;
    color:white;
    font-size:1.5rem;
    font-weight:700;
    text-shadow:2px 2px 2px black;
    
}

.hidden{
    display:none;
}